:root {
  --color-body: #434455;
}
:root {
  --logo-web: #4d5ae5;
}
:root {
  --logo-studio: #2e2f42;
}
:root {
  --header-contact-color: #404bbf;
}
:root {
  --brand-color-btn-1: #ffffff;
}
:root {
  --button-footer-text: #f4f4fd;
}
:root {
  --button-color: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--brand-color-btn-1);
  color: var(--color-body);
}

.items {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-web);
}

.header-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-studio);
}

.header-menu {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--logo-studio);
}

.header-menu:hover,
.header-menu:focus {
  color: var(--header-contact-color);
}

.mailto-tel {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-body);
}

.mailto-tel:hover,
.cmailto-tel:focus {
  color: var(--header-contact-color);
}

.title {
  background-color: var(--logo-studio);
}

.title-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: var(--brand-color-btn-1);
}

.btn-order {
  background-color: var(--logo-web);
  cursor: pointer;
}

.btn-text-color {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: var(--brand-color-btn-1);
}

.section-2-title {
}

.section-2-text {
}

.section-3-title {
}

.section-4-title {
}

.section-4-name {
}

.section-4-profession {
}

.btn {
  color: var(--logo-web);
  cursor: pointer;
}

.btn-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 69px;
  height: 48px;
  background: var(--button-footer-text);
  border: 1px solid var(--button-color);
  border-radius: 4px;
}

.btn-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 116px;
  height: 48px;
  background: var(--button-footer-text);
  border: 1px solid var(--button-color);
  border-radius: 4px;
}

.btn-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 78px;
  height: 48px;
  background: var(--button-footer-text);
  border: 1px solid var(--button-color);
  border-radius: 4px;
}

.btn-4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 101px;
  height: 48px;
  background: var(--button-footer-text);
  border: 1px solid var(--button-color);
  border-radius: 4px;
}

.btn-5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 126px;
  height: 48px;
  background: var(--button-footer-text);
  border: 1px solid var(--button-color);
  border-radius: 4px;
}

.footer-logo-web {
  font-family: "Raleway", sans-serif;
  /* font-style: normal; */
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-web);
}

.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  /* font-style: normal; */
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-footer-text);
}

.footer {
  background-color: var(--logo-studio);
}
.footer-text {
  color: var(--button-footer-text);
}
