:root {
  --color-body: #434455;
}
:root {
  --logo-web: #4d5ae5;
}
:root {
  --logo-studio: #2e2f42;
}
:root {
  --header-contact-color: #404bbf;
}
:root {
  --brand-color-btn-1: #ffffff;
}
:root {
  --button-footer-text: #f4f4fd;
}
:root {
  --button-color: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--brand-color-btn-1);
  color: var(--color-body);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-web);
}

.header-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-studio);
}

.header-menu {
  font-family: "Roboto" sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo-studio);
}

.header-menu:hover,
.header-menu:focus {
  color: var(--header-contact-color);
}

.header-address {
  font-style: normal;
}

.mailto-tel {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-body);
}

.mailto-tel:hover,
.cmailto-tel:focus {
  color: var(--header-contact-color);
}

.title {
  background-color: var(--logo-studio);
}

.title-one {
}

.title-text {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color-btn-1);
}

.btn-text-color {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color-btn-1);
  background-color: var(--logo-web);
  cursor: pointer;
}

.btn-text-color:focus,
.btn-text-color:hover {
  background-color: var(--header-contact-color);
}

.section-two-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-studio);
}

.section-two-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-three-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-studio);
}

.section-four-background {
  background-color: var(--button-footer-text);
}

.section-four-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-studio);
}

.img-background {
  background-color: var(--brand-color-btn-1);
}

.section-four-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-studio);
}

.section-four-profession {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.btn {
  cursor: pointer;
}

.btn-all {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-web);
  background-color: var(--button-footer-text);
}

.btn-all:focus,
.btn-all:hover {
  color: var(--brand-color-btn-1);
  background-color: var(--header-contact-color);
}

.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-studio);
}

.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-body);
}

.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-web);
}

.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-footer-text);
}

.footer {
  background-color: var(--logo-studio);
}
.footer-text {
  color: var(--button-footer-text);
}
